---
// Astro will bundle and optimize this CSS for you automatically
// This also works for preprocessor files like .scss, .styl, etc.
import '../styles/tailwind.min.css';
import  {Tabs} from '../components/Tabs.jsx'
---

<!DOCTYPE html>
<html class="screen-top">
<head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-14NHM3EDW2"></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-14NHM3EDW2');

  // for google phone leads
  gtag('config', 'AW-11255950383');
</script>
<!-- Event snippet for Subscribe Plan on Dispatch landing page conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script is:inline>
  function gtag_report_conversion(url) {
    var callback = function () {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    };
    gtag('event', 'conversion', {
        'send_to': 'AW-11255950383/1KT-CMWzsNAYEK_YoPcp',
        'transaction_id': '',
        'event_callback': callback
    });
    return false;
  }
  </script>

<script is:inline>
  gtag('config', 'AW-11255950383/6_B9CLHXw9AYEK_YoPcp', {
    'phone_conversion_number': '+1 (872) 2743666'
  });
</script>

  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Truck Dispatch Web App</title>

    <!-- <link rel="preconnect" href="https://fonts.cdnfonts.com"> -->
    <!-- <link href="https://fonts.cdnfonts.com/css/general-sans?styles=135312,135310,135313,135303" rel="stylesheet"> -->
    <link rel="stylesheet" id="bs-base-fonts">
    <style type="text/css" id="bs-recompiled-css"></style>
    <style type="text/css" id="bs-custom-css"></style>
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <script is:inline src="/vendor/tailwind-theme/main.js"></script>
    <style type="text/css">
      .background-grey {
        background-color: #f5f5f5;
      }
      .font-fancy {
        font-size: 60px;
        color: #4338c9;
        font-family: cursive;
    }
    .fill-blue-500\/60 {
    fill: rgba(59,130,246,.6);
}
.bg-spiral {
  background-color: #FFFFFF;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23fbfbfb' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23f7f7f7' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23f2f2f2' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23eeeeee' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23EAEAEA' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23eeeeee' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23f2f2f2' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23f7f7f7' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23fbfbfb' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23FFFFFF' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.without-dispatch-app {
    background: #ff000012;
    border-radius: 120px;
    border: 1px solid #ff6161f5;
    overflow: hidden;
    min-height: 690px;
}
.with-dispatch-app {
  background: #00800012;
  overflow: hidden;
  border: 1px solid #41c741;
  border-radius: 120px;
  min-height: 690px;
}
.label-container {
    position: absolute;
    background: #ffffff;
    bottom: 14px;
    z-index: 99999999;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 50px;
}
.text-wo-dispatch-app {
  color: #ff7575;
}
.text-w-dispatch-app {
  color: #3dbf3db8;
}
.color-purple {
  color: #4f46e5;
}
.bold {
  font-weight: bold;
}


@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}


* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 51%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  /* background-color: #4f46e536; */
  counter-increment: item;
  border-radius: 20px;
}

/* .carousel__slide:nth-child(even) {
  background-color: #99f;
} */

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    /* animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite; */
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel-image {
  border-radius: 20px;
}

.cta-form {
  z-index: 2;
  position: relative;
  background: #f5f5f5;
  border-radius: 20px;
}

.background-pattern {
    z-index: 1;
    top: -68px;
    transform: scale(0.86);
    right: -12%;
}

.chakra-icon {
  width: 1em;
    height: 1em;
    display: inline;
    line-height: 1em;
    flex-shrink: 0;
    color: #5cc98d;
    margin-inline-end: 0.5rem;
    vertical-align: text-bottom;
}

.demo-list-items {
  margin: 0 20%;
  font-size: 20px;
}

ul.demo-list-items li {
  margin-top: 20px;
}
      </style>
</head>
<body id="page" class="antialiased font-body bg-body text-body">
    <div class="bg-spiral" id="content">
      <section data-section-id="3" data-share="" data-category="headers" data-component-id="44d0b9e2_01_awz" class="">
        <div class="container mx-auto overflow-hidden">
          <div class="flex items-center justify-between px-4 py-5" data-config-id="toggle-mobile" data-config-target=".navbar-menu" data-config-class="hidden">
            <div class="w-auto">
              <div class="flex flex-wrap items-center">
                <div class="w-auto mr-14">
                  <a href="#">
                    <img src="images/dispatch-it-logo-v3.png" alt="" data-config-id="auto-img-1-1">
                  </a>
                </div>
              </div>
            </div>
            <div class="w-auto">
              <div class="flex flex-wrap items-center">
                <div class="w-auto hidden lg:block">
                  <ul class="flex items-center mr-16">
                    <li class="mr-9 font-medium hover:text-gray-700"><a href="#features" data-config-id="auto-txt-1-1">Features</a></li>
                    <li class="mr-9 font-medium hover:text-gray-700"><a href="#request-demo" data-config-id="auto-txt-1-1">Request Demo</a></li>
                    <li class="mr-9 font-medium hover:text-gray-700"><a href="#pricing" data-config-id="auto-txt-2-1">Pricing</a></li>
                    <!-- <li class="mr-9 font-medium hover:text-gray-700"><a href="#about" data-config-id="auto-txt-3-1">About Us</a></li> -->
                  </ul>
                </div>
                <div class="w-auto hidden lg:block">
                  <div class="inline-block">
                    <a href="#request-demo" class="py-3 px-5 w-full text-white font-semibold border border-indigo-700 rounded-xl focus:ring focus:ring-indigo-300 bg-indigo-600 hover:bg-indigo-700 transition ease-in-out duration-200" type="button" data-config-id="auto-txt-5-1">Get Started</a>
                  </div>
                </div>
                <div class="w-auto lg:hidden">
                  <a href="#">
                    <svg class="navbar-burger text-indigo-600" width="51" height="51" viewbox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-1-1">
                      <rect width="56" height="56" rx="28" fill="currentColor"></rect>
                      <path d="M37 32H19M37 24H19" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-4/6 sm:max-w-xs z-50">
            <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-80"></div>
            <nav class="relative z-10 px-9 pt-8 bg-white h-full overflow-y-auto" data-config-id="toggle-mobile-2" data-config-target=".navbar-menu" data-config-class="hidden">
              <div class="flex flex-wrap justify-between h-full">
                <div class="w-full">
                  <div class="flex items-center justify-between -m-2">
                    <div class="w-auto p-2">
                      <a class="inline-block" href="#">
                        <!-- <img src="flaro-assets/logos/flaro-logo-black.svg" alt="" data-config-id="auto-img-2-1"> -->
                      </a>
                    </div>
                    <div class="w-auto p-2">
                      <a class="navbar-burger" href="#">
                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-2-1">
                          <path d="M6 18L18 6M6 6L18 18" stroke="#111827" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="flex flex-col justify-center py-16 w-full">
                  <ul>
                    <li class="mb-12"><a href="#features" class="font-medium hover:text-gray-700" href="#" data-config-id="auto-txt-6-1">Features</a></li>
                    <li class="mb-12"><a href="#request-demo" class="font-medium hover:text-gray-700" href="#" data-config-id="auto-txt-7-1">Request Demo</a></li>
                    <li class="mb-12"><a href="#pricing" class="font-medium hover:text-gray-700" href="#" data-config-id="auto-txt-8-1">Pricing</a></li>
                    <!-- <li><a href="#about" class="font-medium hover:text-gray-700" href="#" data-config-id="auto-txt-9-1">About Us</a></li> -->
                  </ul>
                </div>
                <div class="flex flex-col justify-end w-full pb-8">
                  <div class="flex flex-wrap">
                    <div class="w-full">
                      <div class="block">
                        <a href="#request-demo" class="py-3 px-5 w-full text-white font-semibold border border-indigo-700 rounded-xl focus:ring focus:ring-indigo-300 bg-indigo-600 hover:bg-indigo-700 transition ease-in-out duration-200" type="button" data-config-id="auto-txt-10-1">Get Started</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
        <div class="overflow-hidden pt-16">
          <div class="container px-4 mx-auto">
            <div class="flex flex-wrap -m-8">
              <div class="w-full md:w-1/2 p-8">
                <h1 class="mb-6 text-6xl md:text-8xl leading-tight lg:text-6xl font-bold font-heading md:max-w-xl leading-none" data-config-id="auto-txt-12-1">Hassle free Truck Dispatching for <span class="color-purple">Increased Efficiency and Productivity.</span></h1>
                <p class="mb-11 text-lg text-gray-900 font-medium md:max-w-md" data-config-id="auto-txt-13-1">No more <span class="color-purple bold">communication</span>, <span class="color-purple bold">synchronization</span>, <span class="color-purple bold">organization</span> issues faced during truck dispatching with the tailor made, flexible web application developed to simplify the truck dispatch management business.</p>
                <div class="flex flex-wrap -m-2.5 mb-20">
                  <div class="w-full md:w-auto p-2.5">
                    <div class="block">
                      <a href="#request-demo" class="py-4 px-6 w-full text-white font-semibold border border-indigo-700 rounded-xl focus:ring focus:ring-indigo-300 bg-indigo-600 hover:bg-indigo-700 transition ease-in-out duration-200" type="button" data-config-id="auto-txt-14-1">Get Started</a>
                    </div>
                  </div>
                  <div class="w-full md:w-auto p-2.5">
                    <div class="block">
                      <button class="py-4 px-9 w-full font-semibold border border-gray-300 hover:border-gray-400 rounded-xl focus:ring focus:ring-gray-50 bg-transparent hover:bg-gray-100 transition ease-in-out duration-200" type="button">
                        <div class="flex flex-wrap justify-center items-center -m-1">
                          <div class="w-auto p-1">
                            <svg width="19" height="18" viewbox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-4-1">
                              <path d="M2.75 3.75C2.75 2.92157 3.42157 2.25 4.25 2.25H6.70943C7.03225 2.25 7.31886 2.45657 7.42094 2.76283L8.5443 6.13291C8.66233 6.48699 8.50203 6.87398 8.1682 7.0409L6.47525 7.88737C7.30194 9.72091 8.77909 11.1981 10.6126 12.0247L11.4591 10.3318C11.626 9.99796 12.013 9.83767 12.3671 9.9557L15.7372 11.0791C16.0434 11.1811 16.25 11.4677 16.25 11.7906V14.25C16.25 15.0784 15.5784 15.75 14.75 15.75H14C7.7868 15.75 2.75 10.7132 2.75 4.5V3.75Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                          </div>
                          <div class="w-auto p-1">
                            <a href="tel:+18722743666" data-config-id="auto-txt-15-1">Call now</a>
                          </div>
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
                <p class="mb-6 text-sm text-gray-500 font-semibold uppercase" data-config-id="auto-txt-16-1">Trusted and loved by many truck dispatch companies</p>
                <div class="flex flex-wrap -m-3">
                  <div class="w-auto p-3">
                    <a target="_blank" href="https://linksdispatch.com/" rel="noreferrer"><img src="images/brand1-v6.png" alt="" data-config-id="auto-img-3-1"></a>
                  </div>
                  <div class="w-auto p-3">
                    <img src="images/brand2-v2.png" alt="" data-config-id="auto-img-4-1">
                  </div>
                  <div class="w-auto p-3">
                    <img src="images/brand3-v2.png" alt="" data-config-id="auto-img-5-1">
                  </div>
                </div>
              </div>
              <div class="w-full md:w-1/2 px-8">
                <img class="transform hover:-translate-y-16 transition ease-in-out duration-1000" src="images/transport2.png" alt="" data-config-id="auto-img-6-1">
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
      <div class="container mx-auto overflow-hidden">
        <div class="flex flex-row space-x-4">
          <div class="mb-2 shadow-lg rounded-t-8xl rounded-b-5xl overflow-hidden" data-path="0.0.4">
            <div class="pt-3 pb-3 md:pb-1 px-4 md:px-16 background-grey" data-path="0.0.4.0">
              <div class="flex flex-wrap items-center" data-path="0.0.4.0.0">
                <img class="mr-6" src="https://shuffle.dev/uinel-assets/images/ecommerce-reviews/user.png" alt="" data-config-id="auto-img-2-1" data-path="0.0.4.0.0.0">
                <h4 class="w-full md:w-auto text-xl font-heading font-medium" data-config-id="auto-txt-30-1" data-path="0.0.4.0.0.1">Faustina H. Fawn</h4>
                <div class="w-full md:w-px h-2 md:h-8 mx-8 bg-transparent md:bg-gray-200" data-path="0.0.4.0.0.2"></div>
                <span class="mr-4 text-xl font-heading font-medium" data-config-id="auto-txt-31-1" data-path="0.0.4.0.0.3">5.0</span>
                <div class="inline-flex" data-path="0.0.4.0.0.4">
                  <a class="inline-block mr-1" href="#" data-path="0.0.4.0.0.4.0">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-11-1" data-path="0.0.4.0.0.4.0.0">
                      <path d="M20 7.91677H12.4167L10 0.416763L7.58333 7.91677H0L6.18335 12.3168L3.81668 19.5834L10 15.0834L16.1834 19.5834L13.8167 12.3168L20 7.91677Z" fill="#FFCB00" data-path="0.0.4.0.0.4.0.0.0"></path>
                    </svg>
                  </a>
                  <a class="inline-block mr-1" href="#" data-path="0.0.4.0.0.4.1">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-12-1" data-path="0.0.4.0.0.4.1.0">
                      <path d="M20 7.91677H12.4167L10 0.416763L7.58333 7.91677H0L6.18335 12.3168L3.81668 19.5834L10 15.0834L16.1834 19.5834L13.8167 12.3168L20 7.91677Z" fill="#FFCB00" data-path="0.0.4.0.0.4.1.0.0"></path>
                    </svg>
                  </a>
                  <a class="inline-block mr-1" href="#" data-path="0.0.4.0.0.4.2">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-13-1" data-path="0.0.4.0.0.4.2.0">
                      <path d="M20 7.91677H12.4167L10 0.416763L7.58333 7.91677H0L6.18335 12.3168L3.81668 19.5834L10 15.0834L16.1834 19.5834L13.8167 12.3168L20 7.91677Z" fill="#FFCB00" data-path="0.0.4.0.0.4.2.0.0"></path>
                    </svg>
                  </a>
                  <a class="inline-block mr-1" href="#" data-path="0.0.4.0.0.4.3">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-14-1" data-path="0.0.4.0.0.4.3.0">
                      <path d="M20 7.91677H12.4167L10 0.416763L7.58333 7.91677H0L6.18335 12.3168L3.81668 19.5834L10 15.0834L16.1834 19.5834L13.8167 12.3168L20 7.91677Z" fill="#FFCB00" data-path="0.0.4.0.0.4.3.0.0"></path>
                    </svg>
                  </a>
                  <a class="inline-block text-gray-200" href="#" data-path="0.0.4.0.0.4.4">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-15-1" data-path="0.0.4.0.0.4.4.0">
                      <path d="M20 7.91677H12.4167L10 0.416763L7.58333 7.91677H0L6.18335 12.3168L3.81668 19.5834L10 15.0834L16.1834 19.5834L13.8167 12.3168L20 7.91677Z" fill="#FFCB00" data-path="0.0.4.0.0.4.4.0.0"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="px-4 overflow-hidden md:px-16 pt-8 pb-12 bg-white" data-path="0.0.4.1">
              <div class="flex flex-wrap" data-path="0.0.4.1.0">
                <div class="w-full md:w-2/3 mb-6 md:mb-0" data-path="0.0.4.1.0.0">
                  <p class="mb-8 max-w-2xl text-darkBlueGray-400 leading-loose" data-config-id="auto-txt-37-1" data-path="0.0.4.1.0.0.0">
                    I used to drown in paperwork and spreadsheets. Dispatch web app has genuinely made my job so much easier!
                  </p>
                  <div class="-mb-2" data-path="0.0.4.1.0.0.1">
                    <div class="inline-flex w-full md:w-auto md:mr-2 mb-2" data-path="0.0.4.1.0.0.1.0">
                      <div class="flex items-center h-12 pl-2 pr-6 bg-green-100 border-2 border-green-500 rounded-full" data-path="0.0.4.1.0.0.1.0.0">
                        <div class="flex mr-2 w-8 h-8 items-center justify-center bg-white rounded-full text-green-500" data-path="0.0.4.1.0.0.1.0.0.0">
                          <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-16-1" data-path="0.0.4.1.0.0.1.0.0.0.0">
                            <path d="M10.016 6.366H6.38V10.092H4.472V6.366H0.836V4.638H4.472V0.911999H6.38V4.638H10.016V6.366Z" fill="currentColor" data-path="0.0.4.1.0.0.1.0.0.0.0.0"></path>
                          </svg>
                        </div>
                        <span class="text-green-500 font-heading font-medium" data-config-id="auto-txt-38-1" data-path="0.0.4.1.0.0.1.0.0.1">synchronization</span>
                      </div>
                    </div>
                    <div class="inline-flex w-full md:w-auto md:mr-2 mb-2" data-path="0.0.4.1.0.0.1.1">
                      <div class="flex items-center h-12 pl-2 pr-6 bg-green-100 border-2 border-green-500 rounded-full" data-path="0.0.4.1.0.0.1.1.0">
                        <div class="flex mr-2 w-8 h-8 items-center justify-center bg-white rounded-full text-green-500" data-path="0.0.4.1.0.0.1.1.0.0">
                          <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-17-1" data-path="0.0.4.1.0.0.1.1.0.0.0">
                            <path d="M10.016 6.366H6.38V10.092H4.472V6.366H0.836V4.638H4.472V0.911999H6.38V4.638H10.016V6.366Z" fill="currentColor" data-path="0.0.4.1.0.0.1.1.0.0.0.0"></path>
                          </svg>
                        </div>
                        <span class="text-green-500 font-heading font-medium" data-config-id="auto-txt-39-1" data-path="0.0.4.1.0.0.1.1.0.1">centralized</span>
                      </div>
                    </div>
                    <div class="inline-flex w-full md:w-auto mb-2" data-path="0.0.4.1.0.0.1.2">
                      <div class="flex items-center h-12 pl-2 pr-6 bg-green-100 border-2 border-green-500 rounded-full" data-path="0.0.4.1.0.0.1.2.0">
                        <div class="flex mr-2 w-8 h-8 items-center justify-center bg-white rounded-full text-green-500" data-path="0.0.4.1.0.0.1.2.0.0">
                          <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-18-1" data-path="0.0.4.1.0.0.1.2.0.0.0">
                            <path d="M10.016 6.366H6.38V10.092H4.472V6.366H0.836V4.638H4.472V0.911999H6.38V4.638H10.016V6.366Z" fill="currentColor" data-path="0.0.4.1.0.0.1.2.0.0.0.0"></path>
                          </svg>
                        </div>
                        <span class="text-green-500 font-heading font-medium" data-config-id="auto-txt-40-1" data-path="0.0.4.1.0.0.1.2.0.1">ease of use</span>
                      </div>
                    </div>
                    <div class="inline-flex w-full md:w-auto mb-2" data-path="0.0.4.1.0.0.1.2">
                      <div class="flex items-center h-12 pl-2 pr-6 bg-green-100 border-2 border-green-500 rounded-full" data-path="0.0.4.1.0.0.1.2.0">
                        <div class="flex mr-2 w-8 h-8 items-center justify-center bg-white rounded-full text-green-500" data-path="0.0.4.1.0.0.1.2.0.0">
                          <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-18-1" data-path="0.0.4.1.0.0.1.2.0.0.0">
                            <path d="M10.016 6.366H6.38V10.092H4.472V6.366H0.836V4.638H4.472V0.911999H6.38V4.638H10.016V6.366Z" fill="currentColor" data-path="0.0.4.1.0.0.1.2.0.0.0.0"></path>
                          </svg>
                        </div>
                        <span class="text-green-500 font-heading font-medium" data-config-id="auto-txt-40-1" data-path="0.0.4.1.0.0.1.2.0.1">communication</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-full md:w-1/3 text-right" data-path="0.0.4.1.0.1">
                  <p class="mb-8 text-sm text-gray-300" data-config-id="auto-txt-41-1" data-path="0.0.4.1.0.1.0">Added 2 months ago</p>
                </div>
              </div>
            </div>
          </div>

          <div class="mb-2 shadow-lg rounded-t-8xl rounded-b-5xl overflow-hidden" data-path="0.0.4">
            <div class="pt-3 pb-3 md:pb-1 px-4 md:px-16 background-grey" data-path="0.0.4.0">
              <div class="flex flex-wrap items-center" data-path="0.0.4.0.0">
                <img class="mr-6" src="https://shuffle.dev/uinel-assets/images/ecommerce-reviews/user3.png" alt="" data-config-id="auto-img-2-1" data-path="0.0.4.0.0.0">
                <h4 class="w-full md:w-auto text-xl font-heading font-medium" data-config-id="auto-txt-30-1" data-path="0.0.4.0.0.1">Indie Grace</h4>
                <div class="w-full md:w-px h-2 md:h-8 mx-8 bg-transparent md:bg-gray-200" data-path="0.0.4.0.0.2"></div>
                <span class="mr-4 text-xl font-heading font-medium" data-config-id="auto-txt-31-1" data-path="0.0.4.0.0.3">5.0</span>
                <div class="inline-flex" data-path="0.0.4.0.0.4">
                  <a class="inline-block mr-1" href="#" data-path="0.0.4.0.0.4.0">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-11-1" data-path="0.0.4.0.0.4.0.0">
                      <path d="M20 7.91677H12.4167L10 0.416763L7.58333 7.91677H0L6.18335 12.3168L3.81668 19.5834L10 15.0834L16.1834 19.5834L13.8167 12.3168L20 7.91677Z" fill="#FFCB00" data-path="0.0.4.0.0.4.0.0.0"></path>
                    </svg>
                  </a>
                  <a class="inline-block mr-1" href="#" data-path="0.0.4.0.0.4.1">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-12-1" data-path="0.0.4.0.0.4.1.0">
                      <path d="M20 7.91677H12.4167L10 0.416763L7.58333 7.91677H0L6.18335 12.3168L3.81668 19.5834L10 15.0834L16.1834 19.5834L13.8167 12.3168L20 7.91677Z" fill="#FFCB00" data-path="0.0.4.0.0.4.1.0.0"></path>
                    </svg>
                  </a>
                  <a class="inline-block mr-1" href="#" data-path="0.0.4.0.0.4.2">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-13-1" data-path="0.0.4.0.0.4.2.0">
                      <path d="M20 7.91677H12.4167L10 0.416763L7.58333 7.91677H0L6.18335 12.3168L3.81668 19.5834L10 15.0834L16.1834 19.5834L13.8167 12.3168L20 7.91677Z" fill="#FFCB00" data-path="0.0.4.0.0.4.2.0.0"></path>
                    </svg>
                  </a>
                  <a class="inline-block mr-1" href="#" data-path="0.0.4.0.0.4.3">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-14-1" data-path="0.0.4.0.0.4.3.0">
                      <path d="M20 7.91677H12.4167L10 0.416763L7.58333 7.91677H0L6.18335 12.3168L3.81668 19.5834L10 15.0834L16.1834 19.5834L13.8167 12.3168L20 7.91677Z" fill="#FFCB00" data-path="0.0.4.0.0.4.3.0.0"></path>
                    </svg>
                  </a>
                  <a class="inline-block text-gray-200" href="#" data-path="0.0.4.0.0.4.4">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-15-1" data-path="0.0.4.0.0.4.4.0">
                      <path d="M20 7.91677H12.4167L10 0.416763L7.58333 7.91677H0L6.18335 12.3168L3.81668 19.5834L10 15.0834L16.1834 19.5834L13.8167 12.3168L20 7.91677Z" fill="#FFCB00" data-path="0.0.4.0.0.4.4.0.0"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="px-4 overflow-hidden md:px-16 pt-8 pb-12 bg-white" data-path="0.0.4.1">
              <div class="flex flex-wrap" data-path="0.0.4.1.0">
                <div class="w-full md:w-2/3 mb-6 md:mb-0" data-path="0.0.4.1.0.0">
                  <p class="mb-8 max-w-2xl text-darkBlueGray-400 leading-loose" data-config-id="auto-txt-37-1" data-path="0.0.4.1.0.0.0">Managing multiple loads was a nightmare. Now, it's a breeze with Dispatch web app. Highly recommended!</p>
                  <div class="-mb-2" data-path="0.0.4.1.0.0.1">
                    <div class="inline-flex w-full md:w-auto md:mr-2 mb-2" data-path="0.0.4.1.0.0.1.0">
                      <div class="flex items-center h-12 pl-2 pr-6 bg-green-100 border-2 border-green-500 rounded-full" data-path="0.0.4.1.0.0.1.0.0">
                        <div class="flex mr-2 w-8 h-8 items-center justify-center bg-white rounded-full text-green-500" data-path="0.0.4.1.0.0.1.0.0.0">
                          <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-16-1" data-path="0.0.4.1.0.0.1.0.0.0.0">
                            <path d="M10.016 6.366H6.38V10.092H4.472V6.366H0.836V4.638H4.472V0.911999H6.38V4.638H10.016V6.366Z" fill="currentColor" data-path="0.0.4.1.0.0.1.0.0.0.0.0"></path>
                          </svg>
                        </div>
                        <span class="text-green-500 font-heading font-medium" data-config-id="auto-txt-38-1" data-path="0.0.4.1.0.0.1.0.0.1">user roles</span>
                      </div>
                    </div>
                    <div class="inline-flex w-full md:w-auto md:mr-2 mb-2" data-path="0.0.4.1.0.0.1.1">
                      <div class="flex items-center h-12 pl-2 pr-6 bg-green-100 border-2 border-green-500 rounded-full" data-path="0.0.4.1.0.0.1.1.0">
                        <div class="flex mr-2 w-8 h-8 items-center justify-center bg-white rounded-full text-green-500" data-path="0.0.4.1.0.0.1.1.0.0">
                          <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-17-1" data-path="0.0.4.1.0.0.1.1.0.0.0">
                            <path d="M10.016 6.366H6.38V10.092H4.472V6.366H0.836V4.638H4.472V0.911999H6.38V4.638H10.016V6.366Z" fill="currentColor" data-path="0.0.4.1.0.0.1.1.0.0.0.0"></path>
                          </svg>
                        </div>
                        <span class="text-green-500 font-heading font-medium" data-config-id="auto-txt-39-1" data-path="0.0.4.1.0.0.1.1.0.1">functionality</span>
                      </div>
                    </div>
                    <div class="inline-flex w-full md:w-auto mb-2" data-path="0.0.4.1.0.0.1.2">
                      <div class="flex items-center h-12 pl-2 pr-6 bg-green-100 border-2 border-green-500 rounded-full" data-path="0.0.4.1.0.0.1.2.0">
                        <div class="flex mr-2 w-8 h-8 items-center justify-center bg-white rounded-full text-green-500" data-path="0.0.4.1.0.0.1.2.0.0">
                          <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-18-1" data-path="0.0.4.1.0.0.1.2.0.0.0">
                            <path d="M10.016 6.366H6.38V10.092H4.472V6.366H0.836V4.638H4.472V0.911999H6.38V4.638H10.016V6.366Z" fill="currentColor" data-path="0.0.4.1.0.0.1.2.0.0.0.0"></path>
                          </svg>
                        </div>
                        <span class="text-green-500 font-heading font-medium" data-config-id="auto-txt-40-1" data-path="0.0.4.1.0.0.1.2.0.1">ease of use</span>
                      </div>
                    </div>
                    <div class="inline-flex w-full md:w-auto mb-2" data-path="0.0.4.1.0.0.1.2">
                      <div class="flex items-center h-12 pl-2 pr-6 bg-green-100 border-2 border-green-500 rounded-full" data-path="0.0.4.1.0.0.1.2.0">
                        <div class="flex mr-2 w-8 h-8 items-center justify-center bg-white rounded-full text-green-500" data-path="0.0.4.1.0.0.1.2.0.0">
                          <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-18-1" data-path="0.0.4.1.0.0.1.2.0.0.0">
                            <path d="M10.016 6.366H6.38V10.092H4.472V6.366H0.836V4.638H4.472V0.911999H6.38V4.638H10.016V6.366Z" fill="currentColor" data-path="0.0.4.1.0.0.1.2.0.0.0.0"></path>
                          </svg>
                        </div>
                        <span class="text-green-500 font-heading font-medium" data-config-id="auto-txt-40-1" data-path="0.0.4.1.0.0.1.2.0.1">coordination</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-full md:w-1/3 text-right" data-path="0.0.4.1.0.1">
                  <p class="mb-8 text-sm text-gray-300" data-config-id="auto-txt-41-1" data-path="0.0.4.1.0.1.0">Added 1 months ago</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>

      

      <section id="features" data-section-id="4" data-share="" data-component-id="eb023c5f_02_awz" class="py-16 bg-white overflow-hidden">
        <div class="container px-4 mx-auto">
          <h2 class="mb-5 text-6xl leading-tight md:text-6xl font-bold font-heading tracking-px-n leading-tight astro-SCKKX6R4" data-config-id="auto-txt-1-2">Dispatch web app features.</h2>
          <Tabs client:load />
          <section class="carousel" aria-label="Gallery">
            <ol class="carousel__viewport">
              <li id="carousel__slide1"
                  tabindex="0"
                  class="carousel__slide">
                <div class="carousel__snapper">
                  <img class="carousel-image" src="images/dashboard.jpg" />
                </div>
                <a href="#carousel__slide4"
                class="carousel__prev">Go to last slide</a>
             <a href="#carousel__slide2"
                class="carousel__next">Go to next slide</a>
              </li>
              <li id="carousel__slide2"
                  tabindex="0"
                  class="carousel__slide">
                <div class="carousel__snapper">
                  <img class="carousel-image" src="images/load-detail.jpg" />
                </div>
                <a href="#carousel__slide1"
                   class="carousel__prev">Go to previous slide</a>
                <a href="#carousel__slide3"
                   class="carousel__next">Go to next slide</a>
              </li>
              <li id="carousel__slide3"
                  tabindex="0"
                  class="carousel__slide">
                <div class="carousel__snapper">
                  <img class="carousel-image" src="images/loads-list.jpg" />
                </div>
                <a href="#carousel__slide2"
                   class="carousel__prev">Go to previous slide</a>
                <a href="#carousel__slide4"
                   class="carousel__next">Go to next slide</a>
              </li>
              <li id="carousel__slide4"
                  tabindex="0"
                  class="carousel__slide">
                <div class="carousel__snapper">
                  <img class="carousel-image" src="images/invoices-list.jpg" />
                </div>
                <a href="#carousel__slide3"
                   class="carousel__prev">Go to previous slide</a>
                <a href="#carousel__slide5"
                   class="carousel__next">Go to next slide</a>
              </li>
              <li id="carousel__slide5"
              tabindex="0"
              class="carousel__slide">
            <div class="carousel__snapper">
              <img class="carousel-image" src="images/timezone-map.jpg" />
            </div>
            <a href="#carousel__slide4"
               class="carousel__prev">Go to previous slide</a>
            <a href="#carousel__slide1"
               class="carousel__next">Go to first slide</a>
          </li>
            </ol>
            <aside class="carousel__navigation">
              <ol class="carousel__navigation-list">
                <li class="carousel__navigation-item">
                  <a href="#carousel__slide1"
                     class="carousel__navigation-button">Go to slide 1</a>
                </li>
                <li class="carousel__navigation-item">
                  <a href="#carousel__slide2"
                     class="carousel__navigation-button">Go to slide 2</a>
                </li>
                <li class="carousel__navigation-item">
                  <a href="#carousel__slide3"
                     class="carousel__navigation-button">Go to slide 3</a>
                </li>
                <li class="carousel__navigation-item">
                  <a href="#carousel__slide4"
                     class="carousel__navigation-button">Go to slide 4</a>
                </li>
                <li class="carousel__navigation-item">
                  <a href="#carousel__slide5"
                     class="carousel__navigation-button">Go to slide 5</a>
                </li>
              </ol>
            </aside>
          </section>
        </div>
      </section>
      <!-- <section id="features" data-section-id="4" data-share="" data-component-id="eb023c5f_02_awz" class="py-32 background-grey overflow-hidden">
        <div class="container px-4 mx-auto">
          <div class="flex flex-wrap lg:items-center -m-8">
            <div class="w-full md:w-1/2 p-8">
              <img class="mx-auto transform hover:-translate-y-16 transition ease-in-out duration-1000" src="images/app-dashboard-preview.png" alt="" data-config-id="auto-img-1-2">
            </div>
            <div class="w-full md:w-1/2 p-8">
              <h2 class="mb-5 text-6xl leading-tight md:text-6xl font-bold font-heading tracking-px-n leading-tight md:max-w-lg" data-config-id="auto-txt-1-2">Dispatch web app features.</h2>
              <Tabs client:load />
            </div>
          </div>
        </div>
      </section> -->

      <section data-section-id="4" data-share="" data-category="how-it-works" data-component-id="eb023c5f_02_awz" class="pb-20 py-12 background-grey overflow-hidden">
        <div class="container px-4 mx-auto">
          <div>
            <h2 class="mb-6 text-6xl md:text-8xl leading-tight lg:text-6xl font-bold font-heading md:max-w-xl leading-none mx-auto text-center">Comparison</h2>
            <div><p class="mb-6 text-lg text-gray-900 text-center font-medium leading-normal mx-auto">The following diagrams demonstrate how dispatch app can simplify dispatching for you as a centralized app.</p></div>
          </div>
          <div class="flex flex-wrap lg:items-center -m-8 justify-center items-center mt-5">
            <div class="w-full md:w-2/5 without-dispatch-app relative">
              <img class="mx-auto transform hover:-translate-y-16 transition ease-in-out duration-1000" src="images/without-dispatch-app.png" alt="" data-config-id="auto-img-1-2" />
              <div>
                <div class="label-container"><h2 class="mb-6 text-3xl md:text-3xl leading-tight lg:text-3xl font-bold font-heading md:max-w-xl leading-none mx-auto text-center text-wo-dispatch-app">Without Dispatch Web App</h2></div>
              </div>
            </div>
            <div class="w-full md:w-32 text-center relative">
              <h2 class="mb-6 text-7xl md:text-7xl leading-tight lg:text-7xl font-bold font-heading md:max-w-xl leading-none mx-auto text-center font-fancy">VS</h2>
              <!-- <svg aria-hidden="true" viewBox="0 0 418 42" class="absolute w-40 fill-blue-500/60" preserveAspectRatio="none"><path d="M203.371.916c-26.013-2.078-76.686 1.963-124.73 9.946L67.3 12.749C35.421 18.062 18.2 21.766 6.004 25.934 1.244 27.561.828 27.778.874 28.61c.07 1.214.828 1.121 9.595-1.176 9.072-2.377 17.15-3.92 39.246-7.496C123.565 7.986 157.869 4.492 195.942 5.046c7.461.108 19.25 1.696 19.17 2.582-.107 1.183-7.874 4.31-25.75 10.366-21.992 7.45-35.43 12.534-36.701 13.884-2.173 2.308-.202 4.407 4.442 4.734 2.654.187 3.263.157 15.593-.78 35.401-2.686 57.944-3.488 88.365-3.143 46.327.526 75.721 2.23 130.788 7.584 19.787 1.924 20.814 1.98 24.557 1.332l.066-.011c1.201-.203 1.53-1.825.399-2.335-2.911-1.31-4.893-1.604-22.048-3.261-57.509-5.556-87.871-7.36-132.059-7.842-23.239-.254-33.617-.116-50.627.674-11.629.54-42.371 2.494-46.696 2.967-2.359.259 8.133-3.625 26.504-9.81 23.239-7.825 27.934-10.149 28.304-14.005.417-4.348-3.529-6-16.878-7.066Z"></path></svg> -->
            </div>
            <div class="w-full md:w-2/5 with-dispatch-app relative">
              <img class="mx-auto transform hover:-translate-y-16 transition ease-in-out duration-1000" src="images/with-dispatch-app-diagram.png" alt="" data-config-id="auto-img-1-2" />
              <div>
                <div class="label-container">
                <h2 class="mb-6 text-3xl md:text-3xl leading-tight lg:text-3xl font-bold font-heading md:max-w-xl leading-none mx-auto text-center text-w-dispatch-app">With Dispatch Web App</h2>
              </div>
            </div>
            </div>
          </div>
        </div>
      </section>

      <section id="pricing" data-section-id="5" data-share="" data-category="pricing" data-component-id="3ccf8f54_02_awz" class="bg-white relative pt-16 pb-36 bg-white overflow-hidden">
        <div class="relative z-10 container px-4 mx-auto">
          <h2 class="mb-6 text-6xl md:text-6xl xl:text-6xl text-center font-bold font-heading tracking-px-n leading-none md:max-w-xl mx-auto" data-config-id="auto-txt-1-2">Subscription Plans</h2>
          <p class="mb-10 text-lg text-gray-900 text-center font-medium leading-normal mx-auto" data-config-id="auto-txt-2-2">Choose the most suitable plan from a vareity of flexible plan options.</p>
          <div class="md:max-w-6xl mx-auto">
            <div class="flex flex-wrap -m-5">
              <div class="w-full md:w-1/3 p-5">
                <div class="bg-white bg-opacity-90 border border-blueGray-100 rounded-4xl shadow-9xl" style="backdrop-filter: blur(46px);">
                  <div class="border-b border-blueGray-100">
                    <div class="py-7 px-9">
                      <h3 class="mb-3 text-xl text-gray-900 font-bold leading-snug" data-config-id="auto-txt-3-2">Plan Solo</h3>
                      <p class="text-gray-500 font-medium leading-relaxed" data-config-id="auto-txt-4-2">Plan solo is ideal for a single dispatcher.</p>
                    </div>
                  </div>
                  <div class="pt-8 pb-9 px-9">
                    <p class="mb-6 text-gray-600 font-medium leading-relaxed" data-config-id="auto-txt-5-2">Features included:</p>
                    <ul class="mb-11">
                      <li class="mb-4 flex items-center">
                        <svg class="mr-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-1-2">
                          <path d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z" stroke="#4F46E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="font-semibold leading-normal" data-config-id="auto-txt-6-2">1 Admin account</p>
                      </li>
                      <li class="mb-4 flex items-center">
                        <svg class="mr-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-2-2">
                          <path d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z" stroke="#4F46E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="font-semibold leading-normal" data-config-id="auto-txt-7-2">1 Dispatcher account</p>
                      </li>
                      <li class="mb-4 flex items-center">
                        <svg class="mr-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-3-2">
                          <path d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z" stroke="#4F46E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="font-semibold leading-normal" data-config-id="auto-txt-8-2">All features of the dispatch app</p>
                      </li>
                      <li class="mb-4 flex items-center">
                        <svg class="mr-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-4-2">
                          <path d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z" stroke="#4F46E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="font-semibold leading-normal" data-config-id="auto-txt-9-2">Technical support</p>
                      </li>
                      <li class="flex items-center">
                        <svg class="mr-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-5-2">
                          <path d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z" stroke="#4F46E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="font-semibold leading-normal" data-config-id="auto-txt-10-2">Paid feature requests</p>
                      </li>
                    </ul>
                    <p class="mb-3 text-lg text-gray-500 leading-normal">
                      <span data-config-id="auto-txt-11-2">One time setup fee:</span>
                      <span class="text-gray-900" data-config-id="auto-txt-12-2">$50</span>
                    </p>
                    <p class="mb-3 text-lg text-gray-500 leading-normal">
                      <span data-config-id="auto-txt-11-2">Monthly fee:</span>
                      <span class="text-gray-900" data-config-id="auto-txt-12-2">$20</span>
                    </p>
                    <p class="mb-6 text-xl text-gray-500 font-semibold leading-normal">
                      <span data-config-id="auto-txt-11-2">Starting from</span>
                      <span class="text-gray-900" data-config-id="auto-txt-12-2">$70</span>
                    </p>
                    <div class="md:inline-block">
                      <a onclick="gtag_report_conversion('https://buy.stripe.com/14k7vGd7743dfXW9AA')" href="https://buy.stripe.com/14k7vGd7743dfXW9AA" class="py-4 px-10 w-72 text-center text-white font-semibold rounded-xl focus:ring focus:ring-indigo-300 bg-indigo-600 hover:bg-indigo-700 transition ease-in-out duration-200" type="button" data-config-id="auto-txt-13-2">Subscribe</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-full md:w-1/3 p-5">
                <div class="bg-white bg-opacity-90 border border-blueGray-100 rounded-4xl shadow-9xl" style="backdrop-filter: blur(46px);">
                  <div class="border-b border-blueGray-100">
                    <div class="py-7 px-9">
                      <h3 class="mb-3 text-xl text-gray-900 font-bold leading-snug" data-config-id="auto-txt-14-2">Plan Platinum</h3>
                      <p class="text-gray-500 font-medium leading-relaxed" data-config-id="auto-txt-15-2">Plan platinum is ideal for a team of dispatchers.</p>
                    </div>
                  </div>
                  <div class="pt-8 pb-9 px-9">
                    <p class="mb-6 text-gray-600 font-medium leading-relaxed" data-config-id="auto-txt-16-2">Features included:</p>
                    <ul class="mb-11">
                      <li class="mb-4 flex items-center">
                        <svg class="mr-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-6-2">
                          <path d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z" stroke="#4F46E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="font-semibold leading-normal" data-config-id="auto-txt-17-2">Unlimited admin accounts</p>
                      </li>
                      <li class="mb-4 flex items-center">
                        <svg class="mr-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-7-2">
                          <path d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z" stroke="#4F46E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="font-semibold leading-normal" data-config-id="auto-txt-18-2">Min 5 dispatcher accounts</p>
                      </li>
                      <li class="mb-4 flex items-center">
                        <svg class="mr-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-8-2">
                          <path d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z" stroke="#4F46E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="font-semibold leading-normal" data-config-id="auto-txt-19-2">All features of the dispatch app</p>
                      </li>
                      <li class="mb-4 flex items-center">
                        <svg class="mr-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-9-2">
                          <path d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z" stroke="#4F46E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="font-semibold leading-normal" data-config-id="auto-txt-20-2">Prioritized technical support</p>
                      </li>
                      <li class="flex items-center">
                        <svg class="mr-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-10-2">
                          <path d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z" stroke="#4F46E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="font-semibold leading-normal" data-config-id="auto-txt-21-2">Prioritized paid feature requests</p>
                      </li>
                    </ul>
                    <p class="mb-3 text-lg text-gray-500 leading-normal">
                      <span data-config-id="auto-txt-11-2">One time setup fee:</span>
                      <span class="text-gray-900" data-config-id="auto-txt-12-2">$50</span>
                    </p>
                    <p class="mb-3 text-lg text-gray-500 leading-normal">
                      <span data-config-id="auto-txt-11-2">Monthly fee:</span>
                      <span class="text-gray-900" data-config-id="auto-txt-12-2">$18 / dispatcher</span>
                    </p>
                    <p class="mb-6 text-xl text-gray-500 font-semibold leading-normal">
                      <span data-config-id="auto-txt-11-2">Starting from</span>
                      <span class="text-gray-900" data-config-id="auto-txt-12-2">$140</span>
                    </p>
                    <div class="md:inline-block">
                      <a onclick="gtag_report_conversion('https://buy.stripe.com/aEU9DO5EF8jtaDC5kl')" href="https://buy.stripe.com/aEU9DO5EF8jtaDC5kl" class="py-4 px-10 w-72 text-center text-white font-semibold rounded-xl focus:ring focus:ring-indigo-300 bg-indigo-600 hover:bg-indigo-700 transition ease-in-out duration-200" type="button" data-config-id="auto-txt-24-2">Subscribe</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-full md:w-1/3 p-5">
                <div class="bg-white bg-opacity-90 border border-blueGray-100 rounded-4xl shadow-9xl" style="backdrop-filter: blur(46px);">
                  <div class="border-b border-blueGray-100">
                    <div class="py-7 px-9">
                      <h3 class="mb-3 text-xl text-gray-900 font-bold leading-snug" data-config-id="auto-txt-14-2">Plan Gold</h3>
                      <p class="text-gray-500 font-medium leading-relaxed" data-config-id="auto-txt-15-2">Plan platinum is ideal for a team of dispatchers that need customized features for the app.</p>
                    </div>
                  </div>
                  <div class="pt-8 pb-9 px-9">
                    <p class="mb-6 text-gray-600 font-medium leading-relaxed" data-config-id="auto-txt-16-2">Features included:</p>
                    <ul class="mb-11">
                      <li class="mb-4 flex items-center">
                        <svg class="mr-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-6-2">
                          <path d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z" stroke="#4F46E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="font-semibold leading-normal" data-config-id="auto-txt-17-2">Unlimited admin accounts</p>
                      </li>
                      <li class="mb-4 flex items-center">
                        <svg class="mr-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-7-2">
                          <path d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z" stroke="#4F46E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="font-semibold leading-normal" data-config-id="auto-txt-18-2">Min 10 dispatcher accounts</p>
                      </li>
                      <li class="mb-4 flex items-center">
                        <svg class="mr-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-8-2">
                          <path d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z" stroke="#4F46E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="font-semibold leading-normal" data-config-id="auto-txt-19-2">All features of the dispatch app</p>
                      </li>
                      <li class="mb-4 flex items-center">
                        <svg class="mr-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-9-2">
                          <path d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z" stroke="#4F46E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="font-semibold leading-normal" data-config-id="auto-txt-20-2">Immediate technical support</p>
                      </li>
                      <li class="flex items-center">
                        <svg class="mr-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-10-2">
                          <path d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z" stroke="#4F46E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="font-semibold leading-normal" data-config-id="auto-txt-21-2">Immediate paid feature requests</p>
                      </li>
                    </ul>
                    <p class="mb-3 text-lg text-gray-500 leading-normal">
                      <span data-config-id="auto-txt-11-2">One time setup fee:</span>
                      <span class="text-gray-900" data-config-id="auto-txt-12-2">$50</span>
                    </p>
                    <p class="mb-3 text-lg text-gray-500 leading-normal">
                      <span data-config-id="auto-txt-11-2">Monthly fee:</span>
                      <span class="text-gray-900" data-config-id="auto-txt-12-2">$16 / dispatcher</span>
                    </p>
                    <p class="mb-6 text-xl text-gray-500 font-semibold leading-normal">
                      <span data-config-id="auto-txt-11-2">Starting from</span>
                      <span class="text-gray-900" data-config-id="auto-txt-12-2">$210</span>
                    </p>
                    <div class="md:inline-block">
                      <a onclick="gtag_report_conversion('https://buy.stripe.com/eVa3fq1op43d4fe4gi')" href="https://buy.stripe.com/eVa3fq1op43d4fe4gi" class="py-4 px-10 w-72 text-center text-white font-semibold rounded-xl focus:ring focus:ring-indigo-300 bg-indigo-600 hover:bg-indigo-700 transition ease-in-out duration-200" type="button" data-config-id="auto-txt-24-2">Subscribe</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="absolute bottom-0 left-0 w-full py-64 bg-indigo-600"></div>
      </section>
      <section id="request-demo" class="background-grey relative pt-16 pb-36 overflow-hidden">
        <div class="relative container px-4 mx-auto">
          <div>
            <h2 class="mb-6 text-6xl md:text-6xl xl:text-6xl text-center font-bold font-heading tracking-px-n leading-none md:max-w-xl mx-auto" data-config-id="auto-txt-1-2">Demo</h2>
            <div><p class="mb-6 text-lg text-gray-900 text-center font-medium leading-normal mx-auto">Request a demo to explore the dispatch app for yourself.</p></div>
          </div>
         <div class="flex flex-wrap">
          <div class="w-full md:w-1/2 p-8">
            <h2 class="mb-9 text-6xl md:text-2xl xl:text-2xl text-center font-bold font-heading tracking-px-n leading-none md:max-w-xl mx-auto" data-config-id="auto-txt-1-2">Check out the dispatch app features in minutes</h2>
            <div>
              <ul class="demo-list-items">
                <li><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" focusable="false" class="chakra-icon" role="presentation" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z"></path></svg>Efficient Loads management</li>
                <li><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" focusable="false" class="chakra-icon" role="presentation" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z"></path></svg>Dispatchers Management</li>
                <li><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" focusable="false" class="chakra-icon" role="presentation" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z"></path></svg>Carriers Database</li>
                <li><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" focusable="false" class="chakra-icon" role="presentation" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z"></path></svg>Invoicing</li>
                <li><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" focusable="false" class="chakra-icon" role="presentation" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z"></path></svg>Realtime notifications</li>
                <li><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" focusable="false" class="chakra-icon" role="presentation" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z"></path></svg>Brokers Listing</li>
                <li><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" focusable="false" class="chakra-icon" role="presentation" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z"></path></svg>Helpful Statsistics</li>
                <li><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" focusable="false" class="chakra-icon" role="presentation" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z"></path></svg>AI Reporting</li>
                <li><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" focusable="false" class="chakra-icon" role="presentation" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z"></path></svg>and much more...</li>
              </ul>
            </div>
          </div>
          <div class="w-full md:w-1/2 p-8 relative">
            <div class="cta-form">
              <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSf7WxJ0NMWvFvdeE8P0F9Oz4r3SNhNElxLCxhFluYBnEeCCKA/viewform?embedded=true" 
            width="100%" 
            height="800px" 
            frameborder="0"
            marginheight="0" 
            marginwidth="0"
            >
            Loading
           </iframe>
            </div>
           <div class="absolute background-pattern"><svg width="1013" height="890" viewBox="0 0 1013 890" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M180.462 795.681L40.8315 567.776C19.5801 533.09 8.95466 515.747 4.64446 497.091C0.831363 480.586 0.608543 463.413 3.99145 446.712C7.81567 427.835 17.9843 409.924 38.3214 374.102L184.235 117.101C203.682 82.8483 213.405 65.722 227.028 52.9648C239.084 41.6743 253.303 32.9153 268.81 27.225C286.332 20.7958 306.003 19.8141 345.345 17.8502L644.507 2.91668C685.874 0.851143 706.557 -0.18069 725.22 4.94606C741.731 9.48141 757.023 17.479 770.074 28.4042C784.827 40.7544 795.51 58.1913 816.877 93.066L955.838 319.878C977.009 354.434 987.595 371.712 991.91 390.3C995.728 406.747 995.98 423.86 992.649 440.515C988.883 459.337 978.815 477.215 958.678 512.969L811.011 775.156C791.315 810.127 781.466 827.612 767.593 840.563C755.316 852.023 740.811 860.86 724.997 866.515C707.127 872.905 687.074 873.638 646.968 875.103L350.229 885.943L350.228 885.944C309.449 887.433 289.06 888.178 270.689 882.944C254.434 878.313 239.396 870.318 226.557 859.48C212.045 847.23 201.517 830.047 180.462 795.681Z" fill="#847eed"></path><path d="M179.711 769.196L58.7659 539.848C40.3585 504.942 31.155 487.489 28.2839 469.088C25.744 452.808 26.7984 436.065 31.3778 419.97C36.5543 401.778 47.9229 384.859 70.66 351.022L233.792 108.259C255.534 75.9041 266.405 59.7266 280.801 48.0099C293.543 37.6402 308.23 29.8499 323.963 25.1169C341.74 19.7693 361.233 19.8416 400.221 19.9857L696.692 21.0815C737.687 21.2325 758.184 21.3089 776.23 27.2798C792.194 32.562 806.699 41.1538 818.774 52.4806C832.423 65.2849 841.676 82.8321 860.183 117.928L980.548 346.176C998.887 380.95 1008.06 398.337 1010.94 416.674C1013.49 432.897 1012.46 449.584 1007.94 465.636C1002.82 483.778 991.558 500.669 969.023 534.451L803.775 782.175C781.734 815.216 770.713 831.737 756.054 843.629C743.084 854.153 728.106 862.004 712.074 866.687C693.957 871.978 674.104 871.643 634.398 870.973L340.624 866.016L340.623 866.016C300.251 865.335 280.065 864.994 262.316 858.934C246.611 853.572 232.358 844.996 220.486 833.765C207.067 821.072 197.948 803.779 179.711 769.196Z" fill="#4F46E5"></path></svg></div>  
          </div>
         </div>
        </div>
      </section>
      
<footer id="about" class="bg-white rounded-lg shadow dark:bg-gray-900 m-4">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
      <div class="sm:flex sm:items-center sm:justify-between">
          <a href="#" class="flex items-center mb-4 sm:mb-0">
              <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Dispatch Web App By ZOMIO LLC</span>
          </a>
          <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
              <li>
                1309 Coffeen Avenue <br />
                STE 1200 Sheridan <br /> Wyoming 82801
              </li>
              <li>
                  <a href="tel:+18722743666" class="mr-4 hover:underline md:mr-6 ">+1 (872) 2743666</a>
              </li>
              <li>
                  <a href="mailto:mursil@zomio.com" class="mr-4 hover:underline md:mr-6">mursil@zomio.com</a>
              </li>
              <!-- <li>
                  <a href="#" class="mr-4 hover:underline md:mr-6 ">Licensing</a>
              </li>
              <li>
                  <a href="#" class="hover:underline">Contact</a>
              </li> -->
          </ul>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"> 2023 <a href="#" class="hover:underline">Dispatch Web App by ZOMIO LLC</a>. All Rights Reserved.</span>
  </div>
</footer>


    </div>
</body>
</html>