---
// Astro will bundle and optimize this CSS for you automatically
// This also works for preprocessor files like .scss, .styl, etc.
import '../styles/tailwind.min.css';
---

<!DOCTYPE html>
<html class="screen-top">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Page title</title>

    <link rel="preconnect" href="https://fonts.cdnfonts.com">
    <link href="https://fonts.cdnfonts.com/css/general-sans?styles=135312,135310,135313,135303" rel="stylesheet">
    <link rel="stylesheet" id="bs-base-fonts">
    <style type="text/css" id="bs-recompiled-css"></style>
    <style type="text/css" id="bs-custom-css"></style>
    <link rel="stylesheet" href="/vendor/icons/css/fontello.css?v=h10c">
    <link rel="stylesheet" href="/static/build/css/shuffle-preview.f0963d7f.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/vendor/shuffle/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/vendor/shuffle/favicon/favicon-16x16.png">
    <script is:inline src="/vendor/tailwind-theme/main.js"></script>
</head>
<body id="page" class="antialiased font-body bg-body text-body">
    <div class="" id="content">
            
      <section data-section-id="3" data-share="" data-category="headers" data-component-id="44d0b9e2_01_awz" class="">
        <div class="container mx-auto overflow-hidden">
          <div class="flex items-center justify-between px-4 py-5" data-config-id="toggle-mobile" data-config-target=".navbar-menu" data-config-class="hidden">
            <div class="w-auto">
              <div class="flex flex-wrap items-center">
                <div class="w-auto mr-14">
                  <a href="#">
                    <img src="images/dispatch-it-logo-v2.png" alt="" data-config-id="auto-img-1-1">
                  </a>
                </div>
              </div>
            </div>
            <div class="w-auto">
              <div class="flex flex-wrap items-center">
                <div class="w-auto hidden lg:block">
                  <ul class="flex items-center mr-16">
                    <li class="mr-9 font-medium hover:text-gray-700"><a href="#" data-config-id="auto-txt-1-1">Features</a></li>
                    <li class="mr-9 font-medium hover:text-gray-700"><a href="#" data-config-id="auto-txt-2-1">Solutions</a></li>
                    <li class="mr-9 font-medium hover:text-gray-700"><a href="#" data-config-id="auto-txt-3-1">Resources</a></li>
                    <li class="font-medium hover:text-gray-700"><a href="#" data-config-id="auto-txt-4-1">Pricing</a></li>
                  </ul>
                </div>
                <div class="w-auto hidden lg:block">
                  <div class="inline-block">
                    <button class="py-3 px-5 w-full text-white font-semibold border border-indigo-700 rounded-xl focus:ring focus:ring-indigo-300 bg-indigo-600 hover:bg-indigo-700 transition ease-in-out duration-200" type="button" data-config-id="auto-txt-5-1">Request A Demo</button>
                  </div>
                </div>
                <div class="w-auto lg:hidden">
                  <a href="#">
                    <svg class="navbar-burger text-indigo-600" width="51" height="51" viewbox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-1-1">
                      <rect width="56" height="56" rx="28" fill="currentColor"></rect>
                      <path d="M37 32H19M37 24H19" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-4/6 sm:max-w-xs z-50">
            <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-80"></div>
            <nav class="relative z-10 px-9 pt-8 bg-white h-full overflow-y-auto" data-config-id="toggle-mobile-2" data-config-target=".navbar-menu" data-config-class="hidden">
              <div class="flex flex-wrap justify-between h-full">
                <div class="w-full">
                  <div class="flex items-center justify-between -m-2">
                    <div class="w-auto p-2">
                      <a class="inline-block" href="#">
                        <img src="flaro-assets/logos/flaro-logo-black.svg" alt="" data-config-id="auto-img-2-1">
                      </a>
                    </div>
                    <div class="w-auto p-2">
                      <a class="navbar-burger" href="#">
                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-2-1">
                          <path d="M6 18L18 6M6 6L18 18" stroke="#111827" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="flex flex-col justify-center py-16 w-full">
                  <ul>
                    <li class="mb-12"><a class="font-medium hover:text-gray-700" href="#" data-config-id="auto-txt-6-1">Features</a></li>
                    <li class="mb-12"><a class="font-medium hover:text-gray-700" href="#" data-config-id="auto-txt-7-1">Solutions</a></li>
                    <li class="mb-12"><a class="font-medium hover:text-gray-700" href="#" data-config-id="auto-txt-8-1">Resources</a></li>
                    <li><a class="font-medium hover:text-gray-700" href="#" data-config-id="auto-txt-9-1">Pricing</a></li>
                  </ul>
                </div>
                <div class="flex flex-col justify-end w-full pb-8">
                  <div class="flex flex-wrap">
                    <div class="w-full">
                      <div class="block">
                        <button class="py-3 px-5 w-full text-white font-semibold border border-indigo-700 rounded-xl focus:ring focus:ring-indigo-300 bg-indigo-600 hover:bg-indigo-700 transition ease-in-out duration-200" type="button" data-config-id="auto-txt-10-1">Request A Demo</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
        <div class="overflow-hidden pt-16">
          <div class="container px-4 mx-auto">
            <div class="flex flex-wrap -m-8">
              <div class="w-full md:w-1/2 p-8">
              
                <h1 class="mb-6 text-6xl md:text-8xl lg:text-10xl font-bold font-heading md:max-w-xl leading-none" data-config-id="auto-txt-12-1">A better truck dispatch management app</h1>
                <p class="mb-11 text-lg text-gray-900 font-medium md:max-w-md" data-config-id="auto-txt-13-1">Tailor made flexible software to simplify dispatching for a hassle free truck dispatch management</p>
                <div class="flex flex-wrap -m-2.5 mb-20">
                  <div class="w-full md:w-auto p-2.5">
                    <div class="block">
                      <button class="py-4 px-6 w-full text-white font-semibold border border-indigo-700 rounded-xl focus:ring focus:ring-indigo-300 bg-indigo-600 hover:bg-indigo-700 transition ease-in-out duration-200" type="button" data-config-id="auto-txt-14-1">Request A Demo</button>
                    </div>
                  </div>
                  <div class="w-full md:w-auto p-2.5">
                    <div class="block">
                      <button class="py-4 px-9 w-full font-semibold border border-gray-300 hover:border-gray-400 rounded-xl focus:ring focus:ring-gray-50 bg-transparent hover:bg-gray-100 transition ease-in-out duration-200" type="button">
                        <div class="flex flex-wrap justify-center items-center -m-1">
                          <div class="w-auto p-1">
                            <svg width="19" height="18" viewbox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-4-1">
                              <path d="M2.75 3.75C2.75 2.92157 3.42157 2.25 4.25 2.25H6.70943C7.03225 2.25 7.31886 2.45657 7.42094 2.76283L8.5443 6.13291C8.66233 6.48699 8.50203 6.87398 8.1682 7.0409L6.47525 7.88737C7.30194 9.72091 8.77909 11.1981 10.6126 12.0247L11.4591 10.3318C11.626 9.99796 12.013 9.83767 12.3671 9.9557L15.7372 11.0791C16.0434 11.1811 16.25 11.4677 16.25 11.7906V14.25C16.25 15.0784 15.5784 15.75 14.75 15.75H14C7.7868 15.75 2.75 10.7132 2.75 4.5V3.75Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                          </div>
                          <div class="w-auto p-1">
                            <span data-config-id="auto-txt-15-1">Book a call</span>
                          </div>
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
                <p class="mb-6 text-sm text-gray-500 font-semibold uppercase" data-config-id="auto-txt-16-1">Trusted and loved by many truck dispatch companies</p>
                <div class="flex flex-wrap -m-3">
                  <div class="w-auto p-3">
                    <img src="images/brand1.png" alt="" data-config-id="auto-img-3-1">
                  </div>
                  <div class="w-auto p-3">
                    <img src="images/brand2.png" alt="" data-config-id="auto-img-4-1">
                  </div>
                  <div class="w-auto p-3">
                    <img src="images/brand3.png" alt="" data-config-id="auto-img-5-1">
                  </div>
                </div>
              </div>
              <div class="w-full md:w-1/2 px-8">
                <img class="transform hover:-translate-y-16 transition ease-in-out duration-1000" src="https://img.freepik.com/free-vector/blockchain-transport-technology-abstract-concept-illustration_335657-3955.jpg?w=826&t=st=1682156197~exp=1682156797~hmac=5f8bcf7388c7177c6e853ab1aa60f27dc676605c0326eb78828889c84ca08482" alt="" data-config-id="auto-img-6-1">
              </div>
            </div>
          </div>
        </div>
      </section>
            
      <section data-section-id="4" data-share="" data-category="how-it-works" data-component-id="eb023c5f_02_awz" class="py-32 bg-white overflow-hidden">
        <div class="container px-4 mx-auto">
          <div class="flex flex-wrap lg:items-center -m-8">
            <div class="w-full md:w-1/2 p-8">
              <img class="mx-auto transform hover:-translate-y-16 transition ease-in-out duration-1000" src="images/app-dashboard-preview.jpg" alt="" data-config-id="auto-img-1-2">
            </div>
            <div class="w-full md:w-1/2 p-8">
              <h2 class="mb-20 text-6xl md:text-7xl font-bold font-heading tracking-px-n leading-tight md:max-w-lg" data-config-id="auto-txt-1-2">Dispatch app provides all the missing features required by a dispatcher.</h2>
              <div class="flex flex-wrap -m-1.5">
                <div class="w-full p-1.5">
                  <div class="flex flex-wrap -m-6">
                    <div class="w-auto p-6">
                      <div class="relative mb-3 w-10 h-10 text-lg text-white font-bold bg-indigo-600 rounded-full">
                        <img class="absolute top-0 left-0" src="flaro-assets/images/how-it-works/gradient.svg" alt="" data-config-id="auto-img-2-2">
                        <span class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2" data-config-id="auto-txt-2-2">1</span>
                      </div>
                      <img class="relative left-3" src="flaro-assets/images/how-it-works/line.svg" alt="" data-config-id="auto-img-3-2">
                    </div>
                    <div class="flex-1 p-6">
                      <div class="md:max-w-xs">
                        <h3 class="mb-3 text-2xl font-semibold leading-snug" data-config-id="auto-txt-3-2">Loads</h3>
                        <p class="text-gray-700 font-medium leading-relaxed" data-config-id="auto-txt-4-2">A simplified load lifecycle helps keep track of a load status. Create, View, Filter and manage loads without hastle.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-full p-1.5">
                  <div class="flex flex-wrap -m-6">
                    <div class="w-auto p-6">
                      <div class="relative -left-1 mb-3 w-10 h-10 text-lg text-white font-bold bg-indigo-600 rounded-full">
                        <img class="absolute top-0 left-0" src="flaro-assets/images/how-it-works/gradient.svg" alt="" data-config-id="auto-img-4-2">
                        <span class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2" data-config-id="auto-txt-5-2">2</span>
                      </div>
                      <img class="relative left-3" src="flaro-assets/images/how-it-works/line2.svg" alt="" data-config-id="auto-img-5-2">
                    </div>
                    <div class="flex-1 p-6">
                      <div class="md:max-w-xs">
                        <h3 class="mb-3 text-2xl font-semibold leading-snug" data-config-id="auto-txt-6-2">Users</h3>
                        <p class="text-gray-700 font-medium leading-relaxed" data-config-id="auto-txt-7-2">Role based user accounts helps in giving user types different access.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-full p-1.5">
                  <div class="flex flex-wrap -m-6">
                    <div class="w-auto p-6">
                      <div class="relative left-5 mb-3 w-10 h-10 text-lg text-white font-bold bg-indigo-600 rounded-full">
                        <img class="absolute top-0 left-0" src="flaro-assets/images/how-it-works/gradient.svg" alt="" data-config-id="auto-img-6-2">
                        <span class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2" data-config-id="auto-txt-8-2">3</span>
                      </div>
                    </div>
                    <div class="flex-1 p-6">
                      <div class="md:max-w-xs">
                        <h3 class="mb-3 text-2xl font-semibold leading-snug" data-config-id="auto-txt-9-2">Ship</h3>
                        <p class="text-gray-700 font-medium leading-relaxed" data-config-id="auto-txt-10-2">Lorem ipsum dolor sit amet, to the consectetur adipiscing elit. Volutpat tempor condimentum.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
            
      <section data-section-id="5" data-share="" data-category="pricing" data-component-id="3ccf8f54_02_awz" class="relative pt-28 pb-36 bg-white overflow-hidden">
        <div class="relative z-10 container px-4 mx-auto">
          <h2 class="mb-6 text-6xl md:text-8xl xl:text-10xl font-bold font-heading tracking-px-n leading-none md:max-w-xl mx-auto" data-config-id="auto-txt-1-2">Select, Start, Grow</h2>
          <p class="mb-20 text-lg text-gray-900 text-center font-medium leading-normal md:max-w-lg mx-auto" data-config-id="auto-txt-2-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elemen tum.</p>
          <div class="md:max-w-4xl mx-auto">
            <div class="flex flex-wrap -m-5">
              <div class="w-full md:w-1/2 p-5">
                <div class="bg-white bg-opacity-90 border border-blueGray-100 rounded-4xl shadow-9xl" style="backdrop-filter: blur(46px);">
                  <div class="border-b border-blueGray-100">
                    <div class="py-7 px-9">
                      <h3 class="mb-3 text-xl text-gray-900 font-bold leading-snug" data-config-id="auto-txt-3-2">Standard</h3>
                      <p class="text-gray-500 font-medium leading-relaxed" data-config-id="auto-txt-4-2">Lorem ipsum dolor sit amet, consect etur adipiscing maror.</p>
                    </div>
                  </div>
                  <div class="pt-8 pb-9 px-9">
                    <p class="mb-6 text-gray-600 font-medium leading-relaxed" data-config-id="auto-txt-5-2">Features included:</p>
                    <ul class="mb-11">
                      <li class="mb-4 flex items-center">
                        <svg class="mr-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-1-2">
                          <path d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z" stroke="#4F46E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="font-semibold leading-normal" data-config-id="auto-txt-6-2">3 Team Members</p>
                      </li>
                      <li class="mb-4 flex items-center">
                        <svg class="mr-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-2-2">
                          <path d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z" stroke="#4F46E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="font-semibold leading-normal" data-config-id="auto-txt-7-2">1200+ UI Blocks</p>
                      </li>
                      <li class="mb-4 flex items-center">
                        <svg class="mr-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-3-2">
                          <path d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z" stroke="#4F46E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="font-semibold leading-normal" data-config-id="auto-txt-8-2">10 GB Cloud Storage</p>
                      </li>
                      <li class="mb-4 flex items-center">
                        <svg class="mr-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-4-2">
                          <path d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z" stroke="#4F46E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="font-semibold leading-normal" data-config-id="auto-txt-9-2">Individual Email Account</p>
                      </li>
                      <li class="flex items-center">
                        <svg class="mr-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-5-2">
                          <path d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z" stroke="#4F46E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="font-semibold leading-normal" data-config-id="auto-txt-10-2">Premium Support</p>
                      </li>
                    </ul>
                    <p class="mb-6 text-xl text-gray-500 font-semibold leading-normal">
                      <span data-config-id="auto-txt-11-2">Starting from</span>
                      <span class="text-gray-900" data-config-id="auto-txt-12-2">$49/mo</span>
                    </p>
                    <div class="md:inline-block">
                      <button class="py-4 px-10 w-full text-white font-semibold rounded-xl focus:ring focus:ring-indigo-300 bg-indigo-600 hover:bg-indigo-700 transition ease-in-out duration-200" type="button" data-config-id="auto-txt-13-2">Start 14 days free trial</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-full md:w-1/2 p-5">
                <div class="bg-white bg-opacity-90 border border-blueGray-100 rounded-4xl shadow-9xl" style="backdrop-filter: blur(46px);">
                  <div class="border-b border-blueGray-100">
                    <div class="py-7 px-9">
                      <h3 class="mb-3 text-xl text-gray-900 font-bold leading-snug" data-config-id="auto-txt-14-2">Pro</h3>
                      <p class="text-gray-500 font-medium leading-relaxed" data-config-id="auto-txt-15-2">Lorem ipsum dolor sit amet, consect etur adipiscing maror.</p>
                    </div>
                  </div>
                  <div class="pt-8 pb-9 px-9">
                    <p class="mb-6 text-gray-600 font-medium leading-relaxed" data-config-id="auto-txt-16-2">Features included:</p>
                    <ul class="mb-11">
                      <li class="mb-4 flex items-center">
                        <svg class="mr-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-6-2">
                          <path d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z" stroke="#4F46E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="font-semibold leading-normal" data-config-id="auto-txt-17-2">3 Team Members</p>
                      </li>
                      <li class="mb-4 flex items-center">
                        <svg class="mr-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-7-2">
                          <path d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z" stroke="#4F46E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="font-semibold leading-normal" data-config-id="auto-txt-18-2">1200+ UI Blocks</p>
                      </li>
                      <li class="mb-4 flex items-center">
                        <svg class="mr-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-8-2">
                          <path d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z" stroke="#4F46E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="font-semibold leading-normal" data-config-id="auto-txt-19-2">10 GB Cloud Storage</p>
                      </li>
                      <li class="mb-4 flex items-center">
                        <svg class="mr-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-9-2">
                          <path d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z" stroke="#4F46E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="font-semibold leading-normal" data-config-id="auto-txt-20-2">Individual Email Account</p>
                      </li>
                      <li class="flex items-center">
                        <svg class="mr-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-10-2">
                          <path d="M7.5 10L9.16667 11.6667L12.5 8.33333M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z" stroke="#4F46E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <p class="font-semibold leading-normal" data-config-id="auto-txt-21-2">Premium Support</p>
                      </li>
                    </ul>
                    <p class="mb-6 text-xl text-gray-500 font-semibold leading-normal">
                      <span data-config-id="auto-txt-22-2">Starting from</span>
                      <span class="text-gray-900" data-config-id="auto-txt-23-2">$99/mo</span>
                    </p>
                    <div class="md:inline-block">
                      <button class="py-4 px-10 w-full text-white font-semibold rounded-xl focus:ring focus:ring-indigo-300 bg-indigo-600 hover:bg-indigo-700 transition ease-in-out duration-200" type="button" data-config-id="auto-txt-24-2">Start 14 days free trial</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="absolute bottom-0 left-0 w-full py-64 bg-indigo-600"></div>
      </section>
    </div>
</body>
</html>



